<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        .user_content{
            display: flex;
            gap: 25px;
            justify-content: space-between;
        }
    </style>
    <title>
        {% block title %}
            Base Title
        {% endblock%}
    </title>
</head>
<body>
    <div class="user_content">
        {% if not user.is_authenticated %}
            <p class="auth">Вы не авторизованы</p>
        {% else %}
            <p class="auth" >{{ user }}</p>
            <p class="auth"> <a href="{% url 'ads:index' %}">Главная</a></p>
            <p class="auth"> <a href="{% url 'ads:create_ad' %}">Новое объявление</a></p>
            <p class="auth"> <a href="{% url 'ads:exc_props_list' %}">Предложения обмена</a></p>
        {% endif %}
        {% if user.is_staff %}
           <p class="auth"> <a href="{% url 'admin:index' %}">Админ-панель</a></p>
        {% endif %}

        {% if not user.is_authenticated %}
           <p class="auth"> <a href="{% url 'accounts:login' %}">Вход</a></p>
           <p class="auth"> <a href="{% url 'accounts:register' %}">Регистрация</a></p>

        {% else %}
           <p class="auth"> <a href="{% url 'accounts:logout' %}">Выход</a></p>
        {% endif %}
    </div>
    {% block body %}
        <h1>Base body</h1>
    {% endblock%}
</body>
</html>