{% extends 'ads/base.html' %}

{% block title %}
    Объявление {{ object.title }}
{% endblock %}

{% block body %}

<h1>ТЕСТ</h1>
    <div>
        <h1>{{ object.title }}</h1>
        <img src="{{ object.get_image_url }}" alt="img">
        <p> {{ object.description }} </p>
        <p> {{ object.category }} </p>
        <p> {{ object.condition }} </p>
        <p> {{ object.created_at }} </p>
        <h3> {{ object.user.username }} </h3>
    </div>
<a href="{% url 'ads:index' %}">Назад</a>
{% endblock %}