{% extends 'ads/base.html' %}

{% block title %}
    Объявление {{ object.title }}
{% endblock %}

{% block body %}

<h1>ТЕСТ</h1>
    <div>
        <h1>{{ object.title }}</h1>
        <img src="{{ object.get_image_url }}" alt="img">
        <p> {{ object.description }} </p>
        <p> {{ object.category }} </p>
        <p> {{ object.condition }} </p>
        <p> {{ object.created_at }} </p>
        <h3> {{ object.user.username }} </h3>
    </div>

{% if user.username == object.user.username or user.is_staff %}
    <a href="{% url 'ads:update_ad' pk=object.pk %}">Редактировать</a>
    <a href="{% url 'ads:delete_ad' pk=object.pk %}">Удалить</a>
{% endif %}

{% if user.username != object.user.username%}
    <a href="{% url 'ads:exc_props' pk=object.pk %}">Обмен</a>
{% endif %}

<a href="{% url 'ads:index' %}">Назад</a>
{% endblock %}