{% extends 'ads/base.html' %}

{% block title %}
Сайт рецептов
{% endblock %}

{% block body %}

<!-- Форма фильтрации -->


<form method="get">
    <!-- Фильтр по статусу -->
    <div>
        <label for="status">Статус:</label>
        <select name="status" id="status" onchange="this.form.submit()">
            <option value="">Любое состояние</option>
            {% for value, name in status %}
            <option value="{{ value }}"
                    {% if current_status == value %}selected{% endif %}>
                {{ name }}
            </option>
            {% endfor %}
        </select>
    </div>
    <!-- Фильтр по типу -->
    <div>
        <label for="type">Тип предложения:</label>
        <select name="type" id="type" onchange="this.form.submit()">
            <option value="">Все предложения</option>
            <option value="sent" {% if current_type == 'sent' %}selected{% endif %}>
            Мои предложения (отправленные)
            </option>
            <option value="received" {% if current_type == 'received' %}selected{% endif %}>
            Полученные предложения
            </option>
        </select>
    </div>
    <a href="?">Сбросить фильтры</a>

</form>
<div class="ads-list">
    <h1>Мои предложения</h1>
    {% if object_list %}
    <ol>
        {% for exp in object_list %}
        <div class="ads-item">
            <li>

                <ul>
                    <h2><a href="{% url 'ads:detail_exc_props' pk=exp.pk %}">{{ exp }}</a></h2>
                    <h3>Модель Предложение</h3>
                    <li>Заголовок объявления отправителя {{ exp.ad_sender }}</li>
                    <li>Заголовок объявления получателя {{ exp.ad_receiver }}</li>
                    <li>Комментарий получателя {{ exp.comment }}</li>
                    <li>Статус {{ exp.status }}</li>
                    <li>Дата создания {{ exp.created_at }}</li>


                    <h3>Модель объявление</h3>
                    <h4>Отправитель</h4>
                    <li>Пользователь {{ exp.ad_sender.user.username }}</li>
                    <li>Описание {{ exp.ad_sende.description }}</li>
                    <li>Категория {{ exp.ad_sender.category }}</li>
                    <li>Состояние {{ exp.ad_sender.condition }}</li>


                    <h3>Получатель</h3>
                    <li>Пользователь {{ exp.ad_receiver.user.username }}</li>
                    <li>Описание {{ exp.ad_receiver.description }}</li>
                    <li>Категория {{ exp.ad_receiver.category }}</li>
                    <li>Состояние {{ exp.ad_receiver.condition }}</li>

                </ul>
            </li>
        </div>
        {% endfor %}
    </ol>
    {% else %}
    <p>Еще нет ни одного объявления...</p>
    {% endif %}

    <!-- Пагинация -->


</div>
{% endblock %}