<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>
        {% block title %}
            Base Title
        {% endblock%}

    </title>

    <style>
        /* Базовые стили (только самое необходимое) */
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
            margin: 0;
            padding: 20px;
            color: #333;
            min-height: 100vh;
        }

        a:hover {
            color: #2c3e50;
            text-decoration: underline;
        }
    </style>
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block body %}
        <h1>Base body</h1>
    {% endblock%}
</body>
</html>